<div class="container">
  <flash-messages></flash-messages>
</div>
<div class="container">
  <h1>La liste des categories</h1>
  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead>
    <tr>
      <th>Id Categorie</th> <th>Nom Categorie</th> 
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of categories">
        <td>{{c.categoryID}}</td>
        <td>{{c.name}}</td>
        <td>
          <button class="btn btn-success" ><mdb-icon fas icon="plus"></mdb-icon></button> &nbsp;
          <button  class="btn btn-success" ><mdb-icon fas icon="pencil-alt"></mdb-icon></button> &nbsp;&nbsp;
          <button class="btn btn-danger"><mdb-icon far icon="trash-alt"></mdb-icon></button>
        </td>  
     </tr>
    </tbody>
  
  </table>
</div>