<div class="container">
    <flash-messages></flash-messages>
  </div>
  <div class="container">
    <h1>La liste des produits</h1>
    <button class="btn btn-success" mdbBtn (click)="basicModal.show()"  mdbWavesEffect><mdb-icon fas icon="plus"></mdb-icon></button> &nbsp;

    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead>
      <tr>
        <th>Id Produit</th> <th>Nom Produit</th> <th>Prix</th> <th>Categorie</th> 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.productID}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.category}}</td>
          <td>
            <button  class="btn btn-success"  routerLink="/modifierProduit/{{p.productID}}" ><mdb-icon fas icon="pencil-alt"></mdb-icon></button> &nbsp;&nbsp;
            <button class="btn btn-danger" (click)="deleteProduit(p.productID)"><mdb-icon far icon="trash-alt"></mdb-icon></button>
         
          </td>  
       </tr>
      </tbody>
    
    </table>



<!------------------------Ajouter Produit ------>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Ajouuter un produit</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="product" #f="ngForm" (ngSubmit)="ajouter()">
          <div >
            <div class="col-md-6">
              <label for="Name" >Name :</label>
              <input type="text" #name="ngModel" id="Name" name="Name" [(ngModel)]="product.name" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="Price" >Price :</label>
              <input type="number" #price="ngModel" id="price" name="Price" [(ngModel)]="product.price" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="category">Category :</label>
              <select
                name="categoryID"
                id="category"
                class="form-control"
                [(ngModel)]="product.categoryID">
                <option *ngFor="let s of categories" [value]="s.categoryID" [selected]="product.categoryID==s.categoryID" required>{{ s.name }}</option>
              </select>
            </div>
            <div class="col-md-12 my-2 text-right">
              <button class="btn btn-outline-success" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
   
    </div>
  </div>
</div>